<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Location</th>
      <th>Event time</th>
      <th>Menu</th>
      <th>Participant Type</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event[:event_description] %></td>
        <td><%= event[:location_name] %></td>
        <td><%= event[:event_time].to_formatted_s(:long) %></td>
        <td><%= event[:menu_title] %></td>
        <td><%= event[:participant_type] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
